body {
  font-family: Helvetica, Lucida, Arial, sans-serif;
}
em {
  font-style: italic;
  color: #AAA;
}
.nav {
  display: block;
  list-style: none;
  padding: 25px;
}
.nav li {
  float: left;
  padding-right: 15px;
}
.nav li a {
  color: #0088CC;
  text-decoration: none;
}
.nav li a:hover {
  color: #005580;
  font-weight: bold;
}
#content {
  clear: both;
  padding: 25px;
}